---
- name: Deploy Dockerized UI/UX Portfolio Website
  hosts: docker_host
  become: yes

  vars:
    docker_venv: /opt/docker-venv
    ansible_python_interpreter: /opt/docker-venv/bin/python

  tasks:
    - name: Ensure Docker is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Install Python3 and venv tools
      dnf:
        name:
          - python3
          - python3-pip
          - python3-virtualenv
        state: present

    - name: Create virtualenv for Docker SDK
      command: python3 -m venv {{ docker_venv }}
      args:
        creates: "{{ docker_venv }}/bin/activate"

    - name: Install Docker SDK inside venv
      pip:
        name: docker
        virtualenv: "{{ docker_venv }}"

    - name: Stop existing container
      docker_container:
        name: portfolio-website
        state: absent
      ignore_errors: yes

    - name: Remove existing image
      docker_image:
        name: portfolio-website
        state: absent
      ignore_errors: yes

    - name: Remove existing directory
      file:
        path: /home/ec2-user/devops-infrastructure-project
        state: absent

    - name: Clone repository
      git:
        repo: 'https://github.com/rahulbonkur/devops-infrastructure-project.git'
        dest: /home/ec2-user/devops-infrastructure-project
        force: yes

    - name: Build Docker image
      docker_image:
        name: portfolio-website
        build:
          path: /home/ec2-user/devops-infrastructure-project/portfolio-website
        source: build

    - name: Run Docker container
      docker_container:
        name: portfolio-website
        image: portfolio-website
        state: started
        restart_policy: always
        ports:
          - "80:80"

    - name: Verify container
      docker_container_info:
        name: portfolio-website
      register: result

    - name: Show status
      debug:
        msg: "Container is {{ result.container.State.Status }}"
